header {
  width: 960px;
  height: 432px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: white;
  z-index: 2;
}

.headerTitle {
  color: var(--primaryYellow);
}

.left {
  width: 280px;
  height: 271px;
}

.right {
  padding-top: 2rem;
}

.headerImg {
  height: 351.1px;
  width: 345.6px;
  border-radius: 16px;
}

.resTableBtn {
  background-color: var(--primaryYellow);
}

@media screen and (max-width: 1000px) {
  header {
    width: 90%;
  }
  .left {
    height: 35vw;
    width: 45%;
  }
  .headerImg {
    height: 40vw;
    width: 35vw;
  }
}


@media screen and (max-width:750px) {
  header{
    height: 100%;
  }
  .headerTitle{
    font-size: 9vw;
  }
  .location{
    font-size: 5vw;
  }
  .resTableBtn{
    font-size: 1em;
    height: 7vw;
  }
}