.topNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 13.5vh;
  width: 100%;
  background-color: var(--highlightWhite);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 13.5vh;
  width: 960px;
  background-color: var(--highlightWhite);
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 678.4px;
  height: 124.7px;
}

.logo {
  height: 78.5px;
  width: 201.6px;
  margin-right: 5rem;
}

@media screen and (max-width: 1000px) {
  .navContainer {
    width: 90%;
  }
  .logo {
    height: 8vh;
    width: 18vw;
  }
}

@media screen and (min-width: 750px) {
  .navBtn {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .navLinks {
    display: none;
  }
  .navBtn {
    background: none;
    padding: 0;
    height: 24px;
    width: 24px;
  }
  .dropDownMenu {
    background: none;
    padding: 0;
    background-color: var(--highlightWhite);
    position: absolute;
    top: 5;
    right: 0;
    z-index: 3;
    height: 50vw;
    width: 50vw;
    box-shadow: -15px 13px 13px rgba(0, 0, 0,.5);
    border-radius: 16px;
  }

  .menuLinks {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    color: var(--primaryGreen);
  }
  .dropDownToggle {
    padding: 0;
  }
}
